<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Upload Excel</title>
</head>
<body>



<h2 th:if="${message != null}" th:text="${message}"></h2>
<form action="/planilha/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xls, .xlsx" required>
    <button type="submit">Enviar</button>
</form>
<hr>

<button onclick="window.location.href='/planilha/download'" class="botao-link">Baixar Planilha completa</button>

</body>
</html>